/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

/* Parent Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
  justify-content: center;
}

/* Top Header */
.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: #1e1e2f;
  opacity: 0.8;
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.logo-text {
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow:
    0 0 10px #00cfec,
    0 0 20px #00cfec;
}

/* Game Card */
.game-card {
  background: #1e1e1e;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 1px solid #333;
  text-align: center;
  padding-bottom: 15px;
}

.game-card:hover {
  transform: translateY(-10px);
  border-color: #00cfec;
  box-shadow: 0 10px 30px rgba(0, 207, 236, 0.2);
}

/* Image Selector */
.image-selector {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
}

.image-selector img {
  width: 100%;
  /* height: 320px; */
  aspect-ratio: 2/3;
  object-fit: contain;
  display: block;
}

/* Title and Status Styling */
.game-card h3 {
  font-size: 1.1rem;
  margin: 12px 0 5px 0;
}

.game-card p {
  font-size: 0.85rem;
  opacity: 0.8;
}

/* Coming Soon */
.coming-soon {
  opacity: 0.5;
  filter: grayscale(100%);
}

.coming-soon img {
  filter: blur(5px);
}

/*create and join*/

.image-wrapper {
  position: relative;
}
.overlay-buttons {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 10px;

  opacity: 0;
  transition: opacity 0.3s ease;
}
.image-wrapper:hover .overlay-buttons {
  opacity: 1;
}
.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s;
}

/* Create */
.create-btn {
  background: #00cfec;
  color: black;
}

.create-btn:hover {
  background: #00a9c0;
}

/* Join */
.join-btn {
  background: #333;
  color: white;
}

.join-btn:hover {
  background: #555;
}
